*{
    background-color: #aae5a4;
}

.historyRight {
    color: #0a0;
}

.historyWrong {
    color:rgb(255, 0, 0);
}

.currentWordCorrect {
    color:white;
}

.currentWordWrong {
    color:red;
}
.currentWordPending {
    color:black;
}

.futureWord {
    color:rgb(154, 154, 228);
}